<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Login</title>
</head>
<body>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="/img/icon.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form action="/log/painel" method="POST">
      <input type="email" id="login" class="fadeIn second" name="email" placeholder="login" required>
      <input type="password" id="password" class="fadeIn third" name="senha" placeholder="password" required>
      <input type="submit" class="fadeIn fourth" value="Entrar">
    </form>
    <% if(msg) {%>
      <p style="color:red">Login ou Senha Invalidos</p>
      <%}%>
    <!-- Remind Passowrd -->

  </div>
</div>
</body>
</html>
