<nav id="menu-padrao"class="navbar navbar-light bg-dark justify-content-between">
    <a href="/login"><img class="navbar-brand" src="/img/icon.png" width="100px"></a><span class="titulo">UNDERCUT</span>
</nav>